<!-- image -->

<% for (let i=1; i <=4; i++) { %>
  <div class="col-md-6 mb-4">
    <div class="tm-product-img-dummy mx-auto">
      <div id="croppedImageDisplay<%= i %>" style="display: none;">
        <!-- Your cropped image will be displayed here -->
      </div>
    </div>
    <div class="custom-file mt-3">
      <input id="fileInput1<%= i %>" name="image1<%= i %>" type="file" style="display: none;"
        onchange="handleImageUpload(this,  <%= i %>);" />
      <button id="uploadButton<%= i %>" class="btn btn-primary margin-top12px"
        onclick="document.getElementById('fileInput1<%= i %>').click(); return false;">Upload Image</button>
      <input type="file" id="productImage<%= i %>" style="display: none;" accept="image/*">
    </div>
    <div id="previewImage1<%= i %>" class="mt-3"></div>
  </div>
  <% } %>


    <!DOCTYPE html>
    <html lang="en">

    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Document</title>
    </head>

    <body>
      <style>
        input#categoryName::placeholder {
          color: rgb(147, 145, 145);
        }

        textarea#categoryDescription::placeholder {
          color: rgb(147, 145, 145);
        }


        .btn a {
          color: aliceblue
        }

        .form-container {
          max-width: 600px;
          margin: 0 auto;
          padding: 20px;
          background-color: #f9f9f9;
          border-radius: 8px;
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        .image-group {
          text-align: center;
          /* Center the content within each group */
          margin: 10px;
          /* Add some space between the groups */
        }

        .image-group img {
          display: block;
          /* Ensure the image is a block element to take up the full width of the container */
          margin: 0 auto;
          /* Center the image horizontally */
        }

        .image-group button {
          margin-top: 10px;
          /* Add space between the image and the button */
          display: block;
          /* Make the button a block element for consistent spacing */
          width: 100%;
          /* Make the button take the full width of the container */
        }
      </style>

      <div class="container-scroller">
        <!-- partial:partials/_navbar.html -->
        <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row" style="background-color: #6a008a;">
          <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center"
            style="background-color: #6a008a;">
            <div style="background-color: #6a008a;">Purple</div>
          </div>
          <div class="navbar-menu-wrapper d-flex align-items-stretch">
            <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button"
              data-toggle="offcanvas">
              <span class="mdi mdi-menu"></span>
            </button>
          </div>
        </nav>
        <!-- partial -->
        <div class="container-fluid page-body-wrapper">
          <div class="row row-offcanvas row-offcanvas-right">
            <!-- partial:partials/_sidebar.html -->
            <nav class="sidebar sidebar-offcanvas" id="sidebar">
              <ul class="nav">
                <li class="nav-item">
                  <a class="nav-link" href="/admin/dashboard">
                    <span class="menu-title">Dashboard</span>
                    <span class="menu-sub-title">( 2 new updates )</span>
                    <i class="mdi mdi-home menu-icon"></i>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" data-toggle="collapse" href="/admin/users" aria-expanded="false"
                    aria-controls="ui-basic">
                    <span class="menu-title">Users</span>
                    <i class="menu-arrow"></i>
                    <i class="mdi mdi-crosshairs-gps menu-icon"></i>
                  </a>
                  <div class="collapse" id="ui-basic">
                    <ul class="nav flex-column sub-menu">
                      <li class="nav-item"> <a class="nav-link" href="pages/ui-features/buttons.html">Buttons</a></li>
                      <li class="nav-item"> <a class="nav-link" href="pages/ui-features/typography.html">Typography</a>
                      </li>
                    </ul>
                  </div>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/admin/products">
                    <span class="menu-title">Products</span>
                    <i class="mdi mdi-contacts menu-icon"></i>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/admin/categories">
                    <span class="menu-title">Categories</span>
                    <i class="mdi mdi-format-list-bulleted menu-icon"></i>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/admin/orders">
                    <span class="menu-title">Orders</span>
                    <i class="mdi mdi-chart-bar menu-icon"></i>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/admin/coupons">
                    <span class="menu-title">Coupons</span>
                    <i class="mdi mdi-table-large menu-icon"></i>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/admin/banners">
                    <span class="menu-title">Banners</span>
                    <i class="mdi mdi-table-large menu-icon"></i>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" data-toggle="collapse" href="/admin/logout" aria-expanded="false"
                    aria-controls="auth">
                    <span class="menu-title">Logout</span>
                    <i class="menu-arrow"></i>
                    <i class="mdi mdi-lock menu-icon"></i>
                  </a>
                  <div class="collapse" id="auth">
                    <ul class="nav flex-column sub-menu">
                      <li class="nav-item"> <a class="nav-link" href="pages/samples/blank-page.html"> Blank Page </a>
                      </li>
                      <li class="nav-item"> <a class="nav-link" href="pages/samples/login.html"> Login </a></li>
                      <li class="nav-item"> <a class="nav-link" href="pages/samples/register.html"> Register </a></li>
                      <li class="nav-item"> <a class="nav-link" href="pages/samples/error-404.html"> 404 </a></li>
                      <li class="nav-item"> <a class="nav-link" href="pages/samples/error-500.html"> 500 </a></li>
                    </ul>
                  </div>
                </li>
              </ul>
            </nav>
            <!-- partial -->
            <div class="content-wrapper">

              <div class="card-body">
                <div class="form-container">
                  <h4 class="card-title">Edit Product</h4>
                  <form action="" method="POST" id="productEditForm">
                    <!-- Name Field -->
                    <div class="form-group">
                      <label for="productName">Name</label>
                      <input type="text" id="productName" name="name" class="form-control"
                        placeholder="Enter product name" value="<%=product.name%>" required>
                      <div id="validateName" class="text-danger"></div>
                    </div>


                    <div><label for="productImages">Images</label></div>

                    <div id="imagecontainer" style="display: flex; justify-content: space-between;">
                      <div class="image-group">
                        <img src="<%= product.imageUrl[0] %>" alt="" id="currentimage1"
                          style="width: 100px; height: 100px; object-fit: cover;">
                        <input type="file" id="uploadimage1" style="display: none;">
                        <button type="button" class="btn btn-primary uploadButton mt-1" id="uploadbutton1">Upload Image
                          1</button>
                      </div>

                      <div class="image-group">
                        <img src="<%= product.imageUrl[1] %>" alt="" id="currentimage2"
                          style="width: 100px; height: 100px; object-fit: cover;">
                        <input type="file" id="uploadimage2" style="display: none;">
                        <button type="button" class="btn btn-primary uploadButton mt-1" id="uploadbutton2">Upload Image
                          2</button>
                      </div>

                      <div class="image-group">
                        <img src="<%= product.imageUrl[2] %>" alt="" id="currentimage3"
                          style="width: 100px; height: 100px; object-fit: cover;">
                        <input type="file" id="uploadimage3" style="display: none;">
                        <button type="button" class="btn btn-primary uploadButton mt-1" id="uploadbutton3">Upload Image
                          3</button>
                      </div>
                      <!-- Add more as needed -->
                    </div>

                    <div id="productData" data-product="<%- JSON.stringify(product)%>"></div>
                    <!-- Category Field -->
                    <div class="form-group mt-3">
                      <label for="productCategory">Category</label>
                      <select name="category" id="productCategory" class="form-control">
                        <% categories.forEach(function(category) { %>
                          <option value="<%= category._id %>" <%=category._id.equals(product.category.id) ? 'selected'
                            : '' %>>
                            <%= category.name %>
                          </option>
                          <% }); %>
                      </select>
                      <div id="validateCategory" class="text-danger"></div>
                    </div>

                    <!-- Price Field -->
                    <div class="form-group">
                      <label for="productPrice">Price</label>
                      <input type="number" id="productPrice" name="price" class="form-control"
                        placeholder="Enter product price" required value="<%=product.price%>">
                      <div id="validatePrice" class="text-danger"></div>
                    </div>
                    <!-- Quantity Field -->
                    <div class="form-group">
                      <label for="productQuantity">stock</label>
                      <input type="number" id="productQuantity" name="stock" class="form-control"
                        placeholder="Enter product quantity" required value="<%=product.stock%>">
                      <div id="validateStock" class="text-danger"></div>

                    </div>

                    <div id="specificationContainer">
                      <label for="productSpec">Specification</label>
                      <%product.specifications.forEach((spec,index)=>{%>
                        <div class="form-group row specification-entry">
                          <div class="col-md-5">
                            <input type="text" name="spec[<%=index%>][key]" class="form-control"
                              placeholder="Specification Key" value="<%=spec.key%>" required>
                          </div>
                          <div class="col-md-5">
                            <input type="text" name="spec[<%=index%>][value]" class="form-control"
                              placeholder="Specification Value" value="<%=spec.value%>" required>
                          </div>
                          <div class="col-md-2 text-center">
                            <button type="button" class="btn btn-danger btn-sm remove-specification">Remove</button>
                          </div>
                        </div>
                        <%})%>
                    </div>
                    <div id="samedata" class="text-danger"></div>
                    <div class="col-12 text-center mt-3">
                      <button type="button" class="btn btn-primary mb-3" id="addSpecificationButton">Add Another
                        Specification</button>
                      <!-- onclick="addSpecification() -->
                    </div>
                    <!-- Save Button -->
                    <div class="col-12 text-center">
                      <button type="submit" class="btn btn-primary" id="formbutton">Save Product</button>
                      <button class="btn btn-primary">
                        <a href="/admin/products">Back</a>
                      </button>
                    </div>
                  </form>

                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
      <!-- modal for cropping -->
      <div class="modal fade" id="cropModal" tabindex="-1" role="dialog" aria-labelledby="cropModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="cropModalLabel">Crop Image</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <img id="imageToCrop" src="" alt="Image to crop" style="max-width: 100%;">
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" id="cropAndSave" class="btn btn-primary">Crop & Save</button>
            </div>
          </div>
        </div>
      </div>



      <script>
        document.addEventListener('DOMContentLoaded', () => {
          const oldSpecifications = Array.from(document.querySelectorAll('.specification-entry')).map(entry => ({
            key: entry.querySelector('input[name*="[key]"]').value,
            value: entry.querySelector('input[name*="[value]"]').value
          }));
          let specCount = 0
          async function addSpecification() {
            console.log('button clicked')
            specCount++
            const container = document.getElementById('specificationContainer')
            const newSpecification = document.createElement('div')
            newSpecification.classList.add('form-group', 'row', 'specification-entry')
            newSpecification.innerHTML = `
        <div class="col-md-5">
                          <input type="text" name="specifications[${specCount}][key]" class="form-control" placeholder="Specification Key" required>
                      </div>
                      <div class="col-md-5">
                          <input type="text" name="specifications[${specCount}][value]" class="form-control" placeholder="Specification Value" required>
                      </div>
                      <div class="col-md-2 text-center">
                <button type="button" class="btn btn-danger btn-sm remove-specification">Remove</button>
            </div>
        `
            container.appendChild(newSpecification)
          }
          document.getElementById('addSpecificationButton').addEventListener('click', async (event) => {
            event.preventDefault()
            addSpecification()
          })
          const oldName = document.getElementById('productName').value;
          const oldCategoryId = document.getElementById('productCategory').value;
          const oldPrice = document.getElementById('productPrice').value;
          const oldStock = document.getElementById('productQuantity').value;
          const form = document.getElementById('productEditForm');

          let cropper;
          const modal = $('#cropModal');
          const imageToCrop = document.getElementById('imageToCrop');
          const uploadButtons = document.querySelectorAll('.uploadButton');
          const uploadInputs = document.querySelectorAll('input[type="file"]');

          let currentImage;
          let croppedImages = [];

          // Initialize oldCroppedImages with the current state of the images
          let oldCroppedImages = Array.from(document.querySelectorAll('#imagecontainer img')).map(img => img.src);
          croppedImages = [...oldCroppedImages]
          uploadButtons.forEach((button, index) => {
            button.addEventListener('click', () => {
              uploadInputs[index].click();
            });

            uploadInputs[index].addEventListener('change', (event) => {
              const file = event.target.files[0];
              if (file) {
                const reader = new FileReader();
                reader.onload = () => {
                  imageToCrop.src = reader.result;
                  currentImage = document.getElementById(currentimage${ index + 1});
            modal.modal('show');
          };
          reader.readAsDataURL(file);
        }
    });
  });

        modal.on('shown.bs.modal', () => {
          cropper = new Cropper(imageToCrop, {
            aspectRatio: 1,
            viewMode: 2,
            preview: '.preview',
          });
        }).on('hidden.bs.modal', () => {
          cropper.destroy();
          cropper = null;
        });

        document.getElementById('cropAndSave').addEventListener('click', () => {
          const canvas = cropper.getCroppedCanvas({
            width: 500,
            height: 500,
          });

          const croppedImageDataURL = canvas.toDataURL();
          currentImage.src = croppedImageDataURL;

          const index = Array.from(uploadButtons).indexOf(currentImage.closest('.image-group').querySelector('.uploadButton'));
          croppedImages[index] = croppedImageDataURL;

          modal.modal('hide');
        });
        const container = document.getElementById('specificationContainer')
        //  console.log(container)
        container.addEventListener('click', function (e) {
          if (e.target.classList.contains('remove-specification')) {
            e.target.closest('.specification-entry').remove();
          }
        });
        form.addEventListener('submit', async (event) => {
          event.preventDefault();

          const name = document.getElementById('productName').value.trim();
          const categoryId = document.getElementById('productCategory').value;
          const price = document.getElementById('productPrice').value;
          const stock = document.getElementById('productQuantity').value;
          const validName = /^(?=.\S)(?=\D$).*$/.test(name);
          const validPrice = /^(?!0+$)\d+$/.test(price.toString());
          const validStock = /^\d+$/.test(stock.toString());
          document.getElementById('validateName').innerText = '';
          const specifications = Array.from(document.querySelectorAll('.specification-entry')).map(entry => ({
            key: entry.querySelector('input[name*="[key]"]').value,
            value: entry.querySelector('input[name*="[value]"]').value
          }));
          try {
            if (!validName) {
              document.getElementById('validateName').innerText = 'Name is not valid';
              return;
            }
            document.getElementById('validatePrice').innerText = '';
            if (!validPrice) {
              document.getElementById('validatePrice').innerText = 'Price is not valid';
              return;
            }
            document.getElementById('validateStock').innerText = '';
            if (!validStock) {
              document.getElementById('validateStock').innerText = 'stock is not valid';
              return;
            }
            // Compare form values and cropped images to their initial state
            if (name === oldName && categoryId === oldCategoryId && price === oldPrice && stock === oldStock && croppedImages.every((croppedImage, index) => {
              return croppedImage === oldCroppedImages[index];
            }) && JSON.stringify(specifications) === JSON.stringify(oldSpecifications)) {
              document.getElementById('samedata').innerText = 'Cannot submit without any change';
              return;
            }

            const formData = new FormData();
            formData.append('name', name);
            formData.append('categoryId', categoryId);
            formData.append('price', price);
            formData.append('stock', stock);

            // Append each cropped image as a blob
            for (let i = 0; i < croppedImages.length; i++) {
              if (croppedImages[i]) {
                const response = await fetch(croppedImages[i]);
                const blob = await response.blob();
                formData.append('imageUrl', blob, image${ i + 1}.png);
        }
      }
        for (let i = 0; i < specifications.length; i++) {
          formData.append(specifications[${ i }][key], specifications[i].key);
          formData.append(specifications[${ i }][value], specifications[i].value);
        }

        const productId = '<%= product._id%>'
        console.log(productId)
        const response = await fetch(/admin/products / edit / ${ productId }, {
          method: 'POST',
          body: formData
        });

        if (!response.ok) {
          const errorData = await response.json();
          Swal.fire({
            title: 'Failed',
            text: errorData.message,
            icon: 'error',
            confirmButtonText: 'OK'
          });
        } else {
          const successData = await response.json();
          Swal.fire({
            title: 'Success',
            text: successData.message,
            icon: 'success',
            confirmButtonText: 'OK'
          }).then(() => {
            window.location.href = '/admin/products';
          });
        }
    } catch (err) {
          // console.log('error')
          Swal.fire({
            title: 'Failed',
            text: err.message,
            icon: 'error',
            confirmButtonText: 'OK'
          });
        }
  });
});
      </script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
      <script src="node_modules/jquery/dist/jquery.min.js"></script>
      <script src="node_modules/popper.js/dist/umd/popper.min.js"></script>
      <script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
      <script src="node_modules/perfect-scrollbar/dist/js/perfect-scrollbar.jquery.min.js"></script>
      <script src="node_modules/chart.js/dist/Chart.min.js"></script>
      <script src="js/off-canvas.js"></script>
      <script src="js/misc.js"></script>
      <script src="js/dashboard.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous">
        </script>
      <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.all.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.js"></script>



      </script>

    </body>

    </html>



    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
      <% categories.forEach(category => { %>
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="heading<%= category._id %>">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapse<%= category._id %>" aria-expanded="true" aria-controls="collapse<%= category._id %>">
                <%= category.name %>
              </a>
            </h4>
          </div>
          <div id="collapse<%= category._id %>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading<%= category._id %>">
           
          </div>
        </div>
      <% }); %>
    </div>


    <div class="sidebar-box-2">
      <h2 class="heading">Price Range</h2>
      <form method="post" class="colorlib-form-2">
<div class="row">
<div class="col-md-12">
<div class="form-group">
  <label for="guests">Price from:</label>
  <div class="form-field">
    <i class="icon icon-arrow-down3"></i>
    <select name="people" id="people" class="form-control">
      <option value="#">1</option>
      <option value="#">200</option>
      <option value="#">300</option>
      <option value="#">400</option>
      <option value="#">1000</option>
    </select>
  </div>
</div>
</div>
<div class="col-md-12">
<div class="form-group">
  <label for="guests">Price to:</label>
  <div class="form-field">
    <i class="icon icon-arrow-down3"></i>
    <select name="people" id="people" class="form-control">
      <option value="#">2000</option>
      <option value="#">4000</option>
      <option value="#">6000</option>
      <option value="#">8000</option>
      <option value="#">10000</option>
    </select>
  </div>
</div>
</div>

</div>
</form>
  </div>