<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <title>GAMZY</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6Ica999pT8Ha9hB5DHVnRaBBSxM9kGVtt2q5emGcF4yp6CJJjo2f9GUJq5CUB3HEZX2Dz8KK7xM+yG0A3A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- https://fonts.google.com/specimen/Roboto -->
     <link rel="stylesheet" href="/css/fontawesome.min.css">
    <!-- https://fontawesome.com/ -->
     <link rel="stylesheet" href="/css/bootstrap.min.css">
    <!-- https://getbootstrap.com/ -->
     <link rel="stylesheet" href="/css/templatemo-style.css">

     
  <!-- jQuery UI Datepicker CSS -->
   <!-- https://fontawesome.com/ -->
   <link rel="stylesheet" href="jquery-ui-datepicker/jquery-ui.min.css" type="text/css" /> 
    <!--
	Product Admin CSS Template
	https://templatemo.com/tm-524-product-admin
	-->

 
 

  