<html lang="en">
  <head>
    <title>GAMZY</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">

    <link rel="stylesheet" href="/newcss/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="/newcss/animate.css">
    
    <link rel="stylesheet" href="/newcss/owl.carousel.min.css">
    <link rel="stylesheet" href="/newcss/owl.theme.default.min.css">
    <link rel="stylesheet" href="/newcss/magnific-popup.css">

    <link rel="stylesheet" href="/newcss/aos.css">

    <link rel="stylesheet" href="/newcss/ionicons.min.css">

    <link rel="stylesheet" href="/newcss/bootstrap-datepicker.css">
    <link rel="stylesheet" href="/newcss/jquery.timepicker.css">

    
    <link rel="stylesheet" href="/newcss/flaticon.css">
    <link rel="stylesheet" href="/newcss/icomoon.css">
    <link rel="stylesheet" href="/newcss/style.css">